In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('miami1.csv')
df1=pd.read_csv('miami.csv')
df2=pd.read_csv('Key_bisyacne.csv')
df3=pd.read_csv('brickel.csv')
df4=pd.read_csv('Data.csv')

In [6]:
df.head()

,MLS NUMBER,STATUS,ADDRESS,BEDS,FBATHS,HBATHS,LIST PRICE,SOLD PRICE,CONTRACT,SETTLED,...,EXPIRATION DATE,PENDING DATE,OFF MARKET DATE,SALE TERMS,DAYS ON MARKET,COUNTY,APN,ENTRY DATE,SELLER CONTRIBUTIONS (Y/N),SELLER CONTRIBUTIONS ($)
0,A10738929,Active,5980 N Bay Rd,6,9,2.0,32500000,NaN,09/18/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,26,Miami-Dade County,02-32-15-003-0190,09/18/2019 2:00:16 PM,NaN,NaN
1,A10580401,Active,5004 N Bay Rd,8,9,1.0,26500000,NaN,12/03/2018 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,315,Miami-Dade County,02-32-15-003-2080,12/06/2018 11:46:48 AM,NaN,NaN
2,A10488686,Active,5565/5589 Pine Tree Dr,10,13,1.0,23990000,NaN,06/30/2018 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,471,Miami-Dade County,02-32-14-003-0290,06/30/2018 11:01:03 AM,NaN,NaN
3,A10561804,Active,100 La Gorce Circle,7,9,1.0,22500000,NaN,11/09/2018 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,339,Miami-Dade County,02-32-11-006-0040,11/09/2018 6:31:32 PM,NaN,NaN
4,A10423492,Active,6385 Pinetree Drive Cir,9,11,2.0,22500000,NaN,02/22/2018 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,599,Miami-Dade County,02-32-11-013-0010,02/22/2018 11:34:10 AM,NaN,NaN

In [7]:
df1.head()

,MLS NUMBER,STATUS,ADDRESS,BEDS,FBATHS,HBATHS,LIST PRICE,SOLD PRICE,CONTRACT,SETTLED,...,EXPIRATION DATE,PENDING DATE,OFF MARKET DATE,SALE TERMS,DAYS ON MARKET,COUNTY,APN,ENTRY DATE,SELLER CONTRIBUTIONS (Y/N),SELLER CONTRIBUTIONS ($)
0,A10605054,Active,5203 Fisher Island Drive,5,5,1.0,18950000,NaN,01/24/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,263,Miami-Dade County,30-42-09-014-0180,01/24/2019 2:46:33 PM,NaN,NaN
1,A10701878,Active,5292 Fisher Island Dr,7,7,1.0,16500000,NaN,07/05/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,101,Miami-Dade County,30-42-09-014-0140,07/05/2019 12:23:33 PM,NaN,NaN
2,A10649035,Active,7073 Fisher Island Dr,4,4,1.0,15900000,NaN,04/01/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,196,Miami-Dade County,02-42-10-018-0200,04/02/2019 1:40:33 PM,NaN,NaN
3,A10635331,Active,7143 Fisher Island Drive,5,5,1.0,14900000,NaN,03/01/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,227,Miami-Dade County,02-42-10-016-0170,03/08/2019 9:32:28 AM,NaN,NaN
4,A10522204,Active,7412 Fisher Island Dr,5,6,2.0,14000000,NaN,09/04/2018 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,405,Miami-Dade County,30-42-10-015-0090,09/06/2018 10:54:37 AM,NaN,NaN

In [8]:
df2.head()

,MLS NUMBER,STATUS,ADDRESS,BEDS,FBATHS,HBATHS,LIST PRICE,SOLD PRICE,CONTRACT,SETTLED,...,EXPIRATION DATE,PENDING DATE,OFF MARKET DATE,SALE TERMS,DAYS ON MARKET,COUNTY,APN,ENTRY DATE,SELLER CONTRIBUTIONS (Y/N),SELLER CONTRIBUTIONS ($)
0,A10626407,Active,28 Harbor Pt,7,8,1.0,25000000,NaN,02/25/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,231,Miami-Dade County,24-52-06-001-0020,02/25/2019 1:40:27 PM,NaN,NaN
1,A10728109,Active,9 Harbor Pt,8,8,3.0,19500000,NaN,08/22/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,53,Miami-Dade County,24-42-32-002-0282,08/22/2019 4:25:08 PM,NaN,NaN
2,A10643662,Active,430 N Mashta Dr,6,7,1.0,19500000,NaN,03/22/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,206,Miami-Dade County,24-52-05-017-0050,03/22/2019 1:18:52 PM,NaN,NaN
3,A10643797,Active,350 Harbor Dr,7,8,1.0,18000000,NaN,03/26/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,202,Miami-Dade County,24-42-32-006-0070,03/27/2019 1:05:11 PM,NaN,NaN
4,A10237695,Active,260 HARBOR DR,6,7,2.0,14900000,NaN,03/02/2017 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,956,Miami-Dade County,24-42-32-006-0150,03/08/2017 11:25:39 AM,NaN,NaN

In [9]:
df3.head()

,MLS NUMBER,STATUS,ADDRESS,BEDS,FBATHS,HBATHS,LIST PRICE,SOLD PRICE,CONTRACT,SETTLED,...,EXPIRATION DATE,PENDING DATE,OFF MARKET DATE,SALE TERMS,DAYS ON MARKET,COUNTY,APN,ENTRY DATE,SELLER CONTRIBUTIONS (Y/N),SELLER CONTRIBUTIONS ($)
0,R10532890,Active,1435 Brickell Avenue,3,3,1.0,1395000,NaN,05/22/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,145,Miami-Dade County,01-41-39-078-0780,05/23/2019 12:45:54 PM,NaN,NaN
1,A10753606,Active,167 SW 20th Rd,4,4,0.0,1199000,NaN,10/08/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,6,Miami-Dade County,01-41-38-001-3670,10/08/2019 9:43:37 PM,NaN,NaN
2,A10726379,Active,1644 S Miami Ave,6,7,NaN,1190000,NaN,08/19/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,56,Miami-Dade County,01-41-39-012-0010,08/19/2019 11:56:03 PM,NaN,NaN
3,A10359452,Active,1435 Brickell Ave,2,2,1.0,1180000,NaN,09/18/2017 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,756,Miami-Dade County,01-41-39-078-0790,10/20/2017 12:36:38 PM,NaN,NaN
4,A10704606,Active,237 SW 20th Rd,5,3,0.0,1100000,NaN,07/10/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,96,Miami-Dade County,01-41-38-001-2570,07/11/2019 12:29:20 PM,NaN,NaN

In [11]:
df4.head()

,MLS NUMBER,STATUS,ADDRESS,BEDS,FBATHS,HBATHS,LIST PRICE,SOLD PRICE,CONTRACT,SETTLED,...,EXPIRATION DATE,PENDING DATE,OFF MARKET DATE,SALE TERMS,DAYS ON MARKET,COUNTY,APN,ENTRY DATE,SELLER CONTRIBUTIONS (Y/N),SELLER CONTRIBUTIONS ($)
0,A10597515,Active,46 Star Island Dr,10,10,2.0,39950000,NaN,01/10/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,277,Miami-Dade County,02-42-04-001-0410,01/10/2019 2:54:36 PM,NaN,NaN
1,A10743716,Active,2920 N Bay Rd,6,7,1.0,35000000,NaN,09/25/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,19,Miami-Dade County,02-32-27-008-0420,09/25/2019 11:52:07 AM,NaN,NaN
2,A10643045,Active,1 Star Island Dr,8,7,1.0,32000000,NaN,03/21/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,207,Miami-Dade County,02-42-04-001-0010,03/21/2019 1:06:57 PM,NaN,NaN
3,A10728350,Active,29 Star Island Dr,6,7,2.0,29000000,NaN,08/23/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,52,Miami-Dade County,02-42-04-001-0240,09/05/2019 3:37:53 PM,NaN,NaN
4,A10663159,Active,30 PALM AV,8,8,1.0,29000000,NaN,05/07/2019 12:00:00 AM,NaN,...,NaN,NaN,NaN,NaN,160,Miami-Dade County,02-42-05-001-0260,05/07/2019 3:21:29 PM,NaN,NaN